<p>
Presentación del equipo y de los participantes preguntando los superpoderes de cada uno.
Presentación del equipo y de los participantes haciendo dibujos de la persona que tienen a su derecha.
Presentación del equipo y de los participantes preguntando qué se ven estudiando o trabajando dentro de unos años.


Introducción a el proyecto Circolab: La furgoneta, máquinas y materiales
</p>
