<!DOCTYPE html>
<html lang = "es">
<head>
<title> {{title}} </title>
<meta charset="UTF-8">
<style>
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
</style>

<!-- personal style -->
<style>

  /*  color: #ea4864; pink */
	/* #76c4b3 green */
	/* #76c4b3 blue */
	/* #ffc477 yellow */
	/* #7b508c purple */

	/* font roboto */
	/* pf din mono medium */

	@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic|Roboto+Condensed:400,300,300italic,400italic,700,700italic|Roboto+Mono:400,700italic,700,500italic,500,400italic,300italic,300,100italic,100|Roboto+Slab:400,700,300,100);
	@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

	@font-face {
  	font-family: 'PFDinMonoMedium';
  	src: url('../styles/font/PFDinMonoMedium/PFDinMonoMedium.otf') format('opentype');
	}

  body {
		background-color: white;
    font-size: 1em;
    font-family: 'Roboto';
    line-height: 1.5em;
    font-weight: 300;
  }

  p {
      padding: 0;
  }

  div {
    padding: 0.5em 0em;
  }

  h1 {
		color: rgb(234, 72, 100);
		font-size: 2em;
		padding-bottom: 0.5em;
		font-family: 'PFDinMonoMedium';
		line-height: 1em;
  }

	h2 {
		font-weight: 500;
	}

	.ficha {
		position: relative;
		margin: 25px;
    height: 337mm;
	}

  .magentaBg {
      background-color: #ea4864;
  }

  .portada {
    color: white;
    font-size: 5em;
    padding: 5em 0em;
    text-align: center;
  }

  .intro {
    color: white;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 1.5em;
  }

  .introol {
    color: white;
    font-size: 1em;
    padding-bottom: 1.5em;
    font-weight: 500;
    list-style: decimal inside;
  }

  .introol ul {
    list-style: inside none circle;
    margin-left: 2em;
  }

	.bottom {
		border-top: 3px solid #ea4864;
		position:absolute;
		width: 100%;
		bottom:0px;
    font-family: 'PFDinMonoMedium';
    color: #ea4864;
	}

	strong {
		font-weight: 500;
	}

	.main {
		padding: 3em 0em 2em 0em;
    width: calc(100% - 292px);
	}

  .mainintro {
    padding: 5em 0em 2em 5em;
  }

	.data {
		position: absolute;
    top: 99px;
    right: 8px;
    background: #ea4864;
    padding: 12px;
    width: 192px;
    color: white;
	}

	ul .img_list {
		padding: 1em 0em;

	}

  .materials li {
    display:inline-block;
    border-bottom: 2px dotted #ea4864;
    margin: 0px 10px 0px 0px;
  }

  ol {
      counter-reset: item;
      list-style: none;
      list-style-position: inside;
  }

  ol li {
   counter-increment: item;
  }

  .images {
    text-align: center;
  }


  .goals ul li:before {
    color: rgb(234, 72, 100);
    font-family: 'PFDinMonoMedium';
    content: "-";
    margin-right: 5px;
  }

  ol li:before {
      color: rgb(234, 72, 100);
      font-family: 'PFDinMonoMedium';
      content:counter(item);
      margin-right: 5px;
  }

</style>
<body>

{{{ cover }}}
{{{ fichas }}}
</body>
</html>
